html{	width: 100%; height: 100%;}
@font-face {
	font-family: 'Carelia';
	src: url("imagenes-fuentes/Carelia.ttf") format('truetype');}
@font-face {
	font-family: 'LeckerliOne';
	src: url("imagenes-fuentes/LeckerliOne.ttf") format('truetype');}
@font-face {
	font-family: 'Circe';
	src: url("imagenes-fuentes/Circe.otf") format('opentype');}

	body {
	margin:0px;
	padding: 0;
	width:100%;
	overflow-x: hidden;
	background-color: #6e1217;
	background-image: url("imagenes-fuentes/Patron_Azulejo_Fondo.png");
	background-size: 80px 80px;}

header {
	position: fixed;
	top:0;
	z-index:1;
	width: 100%;
	margin: 0px;
	background-image: url("imagenes-fuentes/Patron_Azulejo_Header.png");
	display:block;
	background-size: 70px 77px;
	background-repeat: repeat-x;
	/* CSS3 gradient layer (http://gradients.glrzad.com/)*/

	opacity: 0;
	animation-name: put-opacity;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	animation-delay: 2s;	
	animation-fill-mode: forwards;}
p{
	font-family:Circe;
	text-shadow: 1px 1px 5px #bc9a9a;}
a{
	color:#620505;}
a:hover{
	color:#e68225;}

header h1{
	padding:5px 0 5px;
	font-family: Carelia;
	background-color: #f4deca;
	border-radius: 4px;
	width: 50%;
	text-align: center;
	color: #801414;
	font-size: clamp(16px,2.5vw,24px);
	text-decoration:underline;
	text-shadow: 1px 1px 5px #bc9a9a;
	border: 5px solid #620505;
	margin: 0 auto;}

article.Definicion{
    color: #620505;
    background-color: #f4deca;
    border: 1px solid #c4a697;
    border-radius: 4px;
    padding: 10px;
    padding-top: 0;
    width: 70%;          
    margin: 80px 5px 5px 100px;
    text-align: justify;
    position: relative;
    
    opacity: 0;
    animation-name: put-opacity;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-delay: 2s;	
    animation-fill-mode: forwards;}

article.Historia {
	color: #620505;
    padding: 10px;
    padding-top: 0;
    width: 70%;          
    margin: 80px 5px 2.5px 100px;
    text-align: justify;
    position: relative;  
    
    opacity: 0;
    animation-name: put-opacity;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-delay: 2s;	
    animation-fill-mode: forwards;}

article.Historia section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 80px;}
.num2017{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 80px;
}
.num2019{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 80px;
}
.Historia p{
	background-color: #f4deca;
    border: 1px solid #c4a697;
    border-radius: 50px 100px;
    padding: 25px;
	z-index: 5;

	opacity: 0;
    animation-name: put-opacity;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-delay: 2s;	
    animation-fill-mode: forwards;}

.Final{
	color: #620505;
    background-color: #f4deca;
    border: 1px solid #c4a697;
    border-radius: 4px;
    padding: 10px;
    padding-top: 0;
    width: 70%;          
    margin: 80px 5px 5px 100px;
    text-align: justify;
    position: relative;
    
    opacity: 0;
    animation-name: put-opacity;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-delay: 2s;	
    animation-fill-mode: forwards;}

.Historia div{
	animation: show linear;
	animation-timeline: view();
	animation-range: entry 50% contain 10%;
	animation-fill-mode: both;
}

.Circulo2014, .Circulo2015, .num2017, .num2019{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;}
.Circulo2014 svg, .Circulo2015 svg, .num2017 svg, .num2019 svg{
	width: 1000px;
	height: 80%;
	display: block;
	margin: 0 auto;
	object-fit: contain;
}
#Interno{
	fill: #530000;
	animation: opacity-play 2s infinite ease-in-out;
	animation-delay: 0.5s;
}
	
#Medio{
	fill: #530000;
	animation: opacity-play 2s infinite ease-in-out;
	animation-delay: 1.5s;
	}
#Exterior{
	fill: #530000;
	animation: opacity-play 2s infinite ease-in-out;
	animation-delay: 2s;
}
svg{
	max-width: 100%;
	height: auto;}

aside {
	width: 15%;
	position: fixed;
	top: 70px;
	right:5%;
	margin: 10px;
	border-left: 1px solid #c4a697;
	background-color: #f4deca;
	border-radius: 4px;
	z-index: 10;

	opacity: 0;
	animation-name: put-opacity;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	animation-delay: 2s;	
	animation-fill-mode: forwards;}
aside nav, aside section{
	padding:20px 30px 20px 30px;}
footer {
	position: relative;
	font-family:Circe;
	width:100%;	
	height:30px;
	bottom: auto;
	margin-top: 5px;
	background-color: #f4deca;
	text-align: center;
	color: #801414;
	font-size: 12px;
	text-shadow: 1px 1px 0 #c4a697;
	border-top: 1px solid #620505;

	opacity: 0;
	animation-name: put-opacity;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	animation-delay: 2s;	
	animation-fill-mode: forwards;}

.contenedor_loader{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0.5);
	z-index: -5;}

#EscudoTFUS{
	animation-name:quit-opacity;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
	animation-delay: 1s;	
	animation-fill-mode: forwards;}
#movible{
	animation-name: rotate;
	animation-timing-function: linear;
	animation-duration: 1s;
	animation-delay: 0.5s;
	transform-box: fill-box;
	transform-origin: center;
	animation-iteration-count: infinite;}

@keyframes rotate{
0%{
	transform: rotate(360deg);
}
100%{
	transform: rotate(180deg);
}}
@keyframes quit-opacity  {
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}}
@keyframes put-opacity  {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}}
@keyframes show {
0%{
	opacity: 0;
	scale: 25%;
}
100%{
	opacity: 1;
	scale:100%;
}}
@keyframes opacity-play{
	0%{opacity: 0;}
	50%{opacity: 0.5;}
	100%{opacity: 0;}
}

::before,
::after{
	box-sizing: border-box;}
