/*Importaciones*/
@font-face {
	font-family: 'Carelia';
	src: url("../imagenes-fuentes/Carelia.ttf") format('truetype');}
@font-face {
	font-family: 'LeckerliOne';
	src: url("../imagenes-fuentes/LeckerliOne.ttf") format('truetype');}
@font-face {
	font-family: 'Circe';
	src: url("../imagenes-fuentes/Circe.otf") format('opentype');}
/*Generales*/
body {
	margin:0;
	background-color: #6e1217;
	background-image: url("../imagenes-fuentes/Patron_Azulejo_Fondo.png");
	background-size: 80px 80px;
}
header {
	position: fixed;
	top:0;
	z-index:1;
	width: 100%;
	margin: 0;
	display:block;

	background-image: url("../imagenes-fuentes/Patron_Azulejo_Header.png");
	background-size: 70px 77px;
	background-repeat: repeat-x;
}
p{font-family:Circe;}
a{color:#620505;}
a:hover{color:#e68225;}
footer {
	position: fixed;
	font-family:Circe;
	bottom: 0px;
	z-index:1;
	width:100%;	
	height:30px;
	margin-top: 5px;
	background-color: #f4deca;
	text-align: center;
	color: #801414;
	font-size: 12px;
	text-shadow: 1px 1px 0 #c4a697;
	border-top: 1px solid #620505;
}
/*Especificos*/
article{ 
	color: #620505;
	position: relative;
	background-color: #f4deca;
	margin: 5px auto;
	padding:10px;
	width: 72%;
	padding: 15px 15px 15px 80px;
	text-align: justify;
	border: 1px solid #c4a697;
	border-radius: 4px;
}
header nav{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	gap: 0;
	padding:5px 10px;


	font-family: LeckerliOne;
	background-color: #f4deca;
	border-radius: 4px;
	color: #801414;
	font-size: 16px;
	text-shadow: 1px 1px 5px #bc9a9a;
	border: 5px solid #620505;	
}
header h1{
	margin: 0 0 0 100px;
	padding:0;

	font-family: Carelia;
	color: #801414;
	font-size: 24px;
	text-decoration:underline;

	white-space: nowrap;
}
nav div{margin: 0 0 0 150px;}
article.top{margin-top: 80px;}
article.Bottom{margin-bottom: 50px;}